/* for classic variant */
/* .status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: brown;
} */

.name {
  margin: 0;
  margin-left: 60px;
  font-size: 50px;
}
