.friendList {
  padding: 30px 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: 1px 4px 6px rgb(0 0 0 / 16%), 1px 4px 4px rgb(0 0 0 / 6%),
    1px 1px 1px rgb(0 0 0 / 12%);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: brown;
}

.name {
  margin: 0;
  margin-left: 60px;
  font-size: 50px;
}
