.statistics {
  padding-top: 15px;
}

.title {
  margin-top: 0;
  font-size: 50px;
  text-align: center;
  text-shadow: 7px 8px 4px #ce5937;
}

.statList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  align-items: center;
  padding: 10px 0;
}

.label {
  margin-bottom: 10px;
}

.percentage {
  font-size: 25px;
  font-weight: 600;
}
