.transactionHistory {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
.transactionHistory thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 20px;
}
.transactionHistory thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}
.transactionHistory thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}
.transactionHistory tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  vertical-align: top;
}
.transactionHistory tbody tr:nth-child(even) {
  background: #f3f3f3;
}
.transactionHistory tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}
.transactionHistory tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}
